{% extends 'core/base.html'%}

{% block title%}
Download PDF
{%endblock%}

{%block content%}
<div class="h-screen">
    <div id="alert-additional-content-1" class="w-3/4 mx-40 p-4 mb-4 mt-10 text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800" role="alert">
        <div class="flex items-center">
          <svg aria-hidden="true" class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
          <span class="sr-only">Info</span>
          <h3 class="text-lg font-medium">Your reservation has been created successfully!</h3>
        </div>
        <div class="mt-2 mb-4 text-sm">
          Please download the reservation receipt.Thank you for your business!        <div class="flex">
          <a type="button" href= "{%url 'pdf_download' %}" class="mt-4 text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Download PDF
          </a>
          
        </div>
      </div>

      
</div>

<div class="w-3/4 mx-40 flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
  <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
  <span class="sr-only">Danger</span>
  <div>
    <span class="font-medium">Attention Customers:</span>
      <ul class="mt-1.5 ml-4 list-disc list-inside">
        <li>Please be aware that you must present your identification papers and reservation receipt at the time of checkout. </li>
        <li>Failure to provide these documents may result in the cancellation of your reservation.</li>
        <li>Please note that reservations must be picked up within 24 hours of the scheduled time or they will be automatically canceled.</li>
        
    </ul>
  </div>
</div>
</div>
{%endblock%}