<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}  {% endblock%} | LibraryStore</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <header>
        <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
            <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                <a href="{% url 'frontpage'%}" class="flex items-center">
                    <img src="/static/images/logo.png" class="mr-3 h-6 sm:h-9" alt=" Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">LibraryStore</span>
                </a>
                <div class="flex items-center lg:order-2">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'myaccount'%}" class="text-white bg-red-600	 hover:bg-red-700	  font-medium rounded-lg text-sm px-5 py-3 text-center mr-2 my-2">My account</a>
                    {% else %}
                    <a href="{% url 'login'%}" class="text-white bg-red-600	 hover:bg-red-700  font-medium rounded-lg text-sm px-5 py-3 text-center mr-2 my-2">Log in</a>
                    <a href="{%url 'signup'%}" class="text-white bg-red-600	 hover:bg-red-700  font-medium rounded-lg text-sm px-5 py-3 text-center mr-2 my-2">Sign Up</a>
                    {% endif %}
                    <a href="{% url 'cart_view'%}" class=" flex text-white bg-red-600	 hover:bg-red-700  font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 my-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                        </svg>
                          
                           
                        <span>({{cart|length}})</span></a>
                </div>
                <div class=" justify-between items-center w-full lg:flex lg:w-auto lg:order-1" >
                    <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                        <li>
                            <a href="{% url 'frontpage'%}" class="block py-2 pr-4 pl-3 text-black rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white" aria-current="page">Home</a>
                        </li>
                        <li>
                            <a href="{%url 'books'%}" class="block py-2 pr-4 pl-3 text-black border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 ">Books</a>
                        </li>
                        

                        <li> 
                            <a href="{% url 'consultation'%}" class="block py-2 pr-4 pl-3 text-black border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 ">On-Site Consultation</a>
                        </li>
                        
                    
                        <li>
                            <a href="{% url 'contact'%}" class="block py-2 pr-4 pl-3 text-black border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 ">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="my-2 mx-auto max-w-lg">
        <form class="flex items-center" method="get" action="/search/">   
            <label for="simple-search" class="sr-only">Search</label>
            <div class="relative w-full">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <input type="search" name="query" placeholder="search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search" required>
            </div>
            <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-black rounded-lg border border-black focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <svg class="w-5 h-5 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                <span class="sr-only">Search</span>
            </button>
        </form>
    </div>


   {%block content%}

   {%endblock%}

   <footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="{% url 'frontpage'%}" class="flex items-center mb-4 sm:mb-0">
                <img src="/static/images/logo.png" class="h-8 mr-3" alt=" Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">LibraryStore</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="{% url 'about'%}" class="mr-4 hover:underline md:mr-6 ">About</a>
                </li>
                <li>
                    <a href="{% url 'privacy'%}" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
                </li>
                
                <li>
                    <a href="{% url 'contact'%}" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="{% url 'frontpage'%}" class="hover:underline">LibraryStore™</a>. All Rights Reserved.</span>
    </div>
</footer>


  
</body>
</html>