{% extends 'core/base.html'%}

{% block title%}
On-Site Consultation
{%endblock%}

{%block content%}



<div class="my-20">
    <div class="mx-20" >
      <h2 class="xl:w-8/12 lg:w-10/12 w-full font-bold text-gray-800 dark:text-white lg:text-4xl text-3xl lg:leading-10 leading-9 mt-2 ">On-Site Consultation</h2>
      <div class="flex flex-wrap">
        <div class="w-full md:w-3/5 lg:w-3/4 md:pr-8">
          <p class="font-normal text-base leading-6 text-gray-600 dark:text-white mb-8">
            <p>Welcome to libraryStore's On-Site Consultation service. We understand that sometimes, a book may have only one copy available for rent, making it difficult for everyone to access it. That's why we offer our consultation service to help you get the most out of your reading experience.</p><br>
            <p>Our On-Site Consultation service is available for books in our collection that have only one copy available for rent. Whether you're studying for an exam, working on a research project, or simply looking to deepen your understanding of a particular subject, our team of knowledgeable experts is here to help.</p><br>
            <p>If you have any questions or need help with understanding the material, simply visit our library and speak with a member of our team. We offer our consultation service on a walk-in basis to all library members. Our team will work with you to identify any areas of confusion or uncertainty in your reading, and provide guidance and insights to help you gain a deeper understanding of the book and the subject matter.</p><br>
            <p>Our goal is to help you continue your reading journey with confidence and enthusiasm. Consultations typically last 30-60 minutes, depending on the complexity of the material and the depth of your questions.</p><br>
            <p>Thank you for choosing our library as your reading destination. We look forward to helping you unlock the full potential of your reading experience through our On-Site Consultation service.</p>
          </p>
        </div>
        <div class="w-full md:w-2/5 lg:w-1/4">
          <img src="/static/images/c2.jpg" alt="" class="float-right ml-8 mt-10">
        </div>
      </div>
    </div>
  </div>
  
  

{%endblock%}